.tab-container{
    display:flex;
    width:100%;
}

.postTab{
    flex: 1 1 auto;
    margin:25px;
    border:5px solid black;
}


.mainApp{
    width:95vw;
    margin:auto;
    border:10px solid black;
}



.center{
    text-align: center;
}