.postTab{
    display: inline-block;
    width:44vw;
    height: 100%;
    margin:25px;
    border:5px solid black;
}


.mainApp{
    width:95vw;
    margin:auto;
    border:10px solid black;
}



.center{
    text-align: center;
}